<div class="wp_caption {{ align ~ " " ~ class }}"> {# {{ (width > 0 ? 'style="width:' ~ width ~ 'px"' : '')|raw }} #}
    {{ image(image, { class: "responsive-img" }) }}
    <p class="wp-caption-text">{{ caption }}</p>
</div>
