{% if images|length %}

    <div class="carousel content-gallery is-hidden">

        {% for image in images %}
        {#<a class="carousel-item" href="#carousel-image-{{ loop.index }}">#}
            {{ image(image, { class: "responsive-img carousel-cell" }, true) }}
        {#</a>#}
        {% endfor %}
    </div>

{% else %}
    <br>
    <br>
    <p>no images</p>
    <br>
    <br>
{% endif %}

{# TODO type-related blocks #}
