{% if images|length %}

    {% if type == "masonry" %}

        {% set column_class = "s" ~ (12 / columns)|round(0, 'floor') %}

        <div class="content-gallery content-gallery-masonry row">
            {% for image in images %}
                <a href="{{ image["data-original-url"] }}" class="col {{ column_class }} swipebox" rel="content-images">
                    {{ image(image, { class: "responsive-img" }, true) }}
                </a>
            {% endfor %}
        </div>

    {% elseif type == "slider" %}

    <div class="content-gallery content-gallery-slider is-hidden">
        {% for image in images %}
            {{ image(image, { class: "responsive-img carousel-cell swipebox", rel: "content-images", href: image["data-original-url"] }, true) }}
        {% endfor %}
    </div>

    {% endif %}

{% else %}
    {# No images #}
{% endif %}
