{% if images|length %}

    {% if type == "masonry" %}

        {# TODO type-related block #}

    {% elseif type == "slider" %}

    <div class="carousel content-gallery is-hidden">
        {% for image in images %}
            {{ image(image, { class: "responsive-img carousel-cell" }, true) }}
        {% endfor %}
    </div>

    {% else %}
        {# Unknown gallery type #}
    {% endif %}

{% else %}
    {# No images #}
{% endif %}
