{{ css("widgets/outdatedbrowser/vendor/outdatedbrowser.min.css") }}
{{ js("widgets/outdatedbrowser/vendor/outdatedbrowser.min.js") }}
{{ js("widgets/outdatedbrowser/outdatedbrowser.js") }}

<div id="outdated" data-lang="{{ lang_code }}"></div>
