{{ css("widgets/outdatedbrowser/dist/outdatedbrowser.min.css") }}
{{ js("widgets/outdatedbrowser/dist/outdatedbrowser.min.js") }}
{{ js("widgets/outdatedbrowser/dist/widget.js") }}

<div id="outdated" data-lang="{{ lang_code }}"></div>
