{% extends layout %}

{% block content %}

  {% block before "" %}

{#  {{ csp("style", "'sha256-llJMIuJbZWIR5SjAkMKZBqQAQyEHhqO18VucIR18wrg='") }}#}

  <style>
    html, body {
      height: 100%;
    }
  </style>

  <section id="auth-widget-container" class="h-100 d-flex flex align-items-center">
    {{ widget("Auth") }}
  </section>

  {% block after "" %}

{% endblock %}
