{% extends layout %}

{% block content %}

  <style>
    html, body {
      height: 100%;
    }
  </style>

  <section id="auth-widget-container" class="h-100 d-flex flex align-items-center">
    {{ widget("Auth") }}
  </section>

{% endblock %}
