{% extends "@notifications/default/email" %}

{% block body %}
    <h2 style="color: red">Error logging subsystem failure on site <a href="{{ url }}">{{ url }}</a>!</h2>

    <p>{{ message }}</p>
    <p>{{ stacktrace|nl2br }}</p>
{% endblock %}
