{% extends layout %}

{% block page_content %}
  {{ js('wamp/Admin/Tests/bundle/manager.js') }}


  <section id="testWampRpcManager" data-testUrl="{{ testUrl }}">


    <section class="control">
      <form action="" method="post" target="">
        <div class="card">
          <div class="card-content">
            <p class="card-title">
              Request Options
            </p>
            <div class="input-field">
              User agent: server/JS original/JS WAMP
              <div style="font-size:10px;">
                <p>{{ userAgent }}</p>
                <br>
                <p class="userAgentOriginal"></p>
                <br>
                <p class="userAgentWamp"></p>
              </div>
            </div>
            <div class="input-field">
              Processes count:
              <input type="text" name="processesQty" id="testWampRpc-processesQty" value="1" title="">
              {#<label for="testWampRpc-processesQty">Test qty</label>#}
            </div>
            <div class="input-field">
              Delay between process:
              <input type="text" name="delayProcess" id="testWampRpc-delayProcess" value="50" title="">
              {#<label for="testWampRpc-delayProcess">Test qty</label>#}
            </div>
            <div class="input-field">
              Requests count:
              <input type="text" name="testsQty" id="testWampRpc-testsQty" value="1" title="">
              {#<label for="testWampRpc-testsQty">Test qty</label>#}
            </div>
            <div class="input-field">
              Count in requests pack:
              <input type="text" name="qtyInPack" id="testWampRpc-qtyInPack" value="1" title="">
              {#<label for="testWampRpc-qtyInPack">Test qty</label>#}
            </div>
            <div class="input-field">
              Delay between requests packs:
              <input type="text" name="delayPack" id="testWampRpc-delayPack" value="0" title="">
              {#<label for="testWampRpc-delayPack">Test qty</label>#}
            </div>
            <div>
              <button data-action="run" data-type="wamp">Run Test Wamp</button>
              <button data-action="run" data-type="rpc">Run Test Rpc</button>
              <button data-action="removeResults">Remove results</button>
            </div>
          </div>
        </div>
      </form>
    </section>


    <section class="results row">
      <iframe data-template
              class="col s6 m3"
              style="display:none;margin-left:-10px;"
              width="100%"
              height="450"
              scrolling="no"
              frameBorder="0">

      </iframe>
    </section>


  </section>


{% endblock %}
