html, body {
    height: 100%;
}

.error-403 {
    height: 100%;
    max-width: 450px;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
}

.error-403 h4 {
    margin: 0 auto;
}

.error-403 p {
    display: block;
    margin-top: 15px;
}
