[submodule "modules/twig"]
	path = modules/twig
	url = git@github.com:spotman/kohana-twig.git
[submodule "modules/multi-site"]
	path = modules/multi-site
	url = git@github.com:spotman/kohana-multi-site.git
[submodule "modules/ulogin"]
	path = modules/ulogin
	url = git@github.com:spotman/kohana-ulogin.git
[submodule "modules/cache"]
	path = modules/cache
	url = git@github.com:spotman/kohana-cache.git
[submodule "modules/meta-tags"]
	path = modules/meta-tags
	url = git@github.com:spotman/kohana-meta-tags.git
[submodule "modules/hashids"]
	path = modules/hashids
	url = git@github.com:spotman/hashids-kohana.git
[submodule "modules/device"]
	path = modules/device
	url = git@github.com:spotman/kohana-device.git
[submodule "modules/jsonrpc"]
	path = modules/jsonrpc
	url = git@github.com:spotman/kohana-jsonrpc.git
[submodule "modules/paginate"]
	path = modules/paginate
	url = git@github.com:morgan/kohana-paginate.git
[submodule "modules/utils"]
	path = modules/utils
	url = git@github.com:spotman/kohana-utils.git
[submodule "modules/mysqli"]
	path = modules/mysqli
	url = git@github.com:spotman/kohana-3.3-mysqli.git
[submodule "modules/api"]
	path = modules/api
	url = git@github.com:spotman/kohana-simple-api.git
[submodule "modules/robots-txt"]
	path = modules/robots-txt
	url = git@github.com:spotman/kohana-robots.txt.git
[submodule "modules/i18n-plural"]
	path = modules/i18n-plural
	url = git@github.com:spotman/kohana-i18n-plural.git
