[submodule "modules/twig"]
	path = modules/twig
	url = https://github.com/spotman/kohana-twig.git
[submodule "modules/api"]
	path = modules/api
	url = https://github.com/spotman/kohana-simple-api.git
[submodule "modules/multi-site"]
	path = modules/multi-site
	url = https://github.com/spotman/kohana-multi-site.git
[submodule "modules/ulogin"]
	path = modules/ulogin
	url = https://github.com/spotman/kohana-ulogin.git
[submodule "sites/art-for-sale"]
	path = sites/art-for-sale
	url = https://spotman@bitbucket.org/spotman/artforsale.git
[submodule "modules/cache"]
	path = modules/cache
	url = https://github.com/spotman/kohana-cache.git
