[submodule "modules/meta-tags"]
	path = modules/meta-tags
	url = git@github.com:spotman/kohana-meta-tags.git
[submodule "modules/paginate"]
	path = modules/paginate
	url = git@github.com:spotman/kohana-paginate.git
[submodule "modules/utils"]
	path = modules/utils
	url = git@github.com:spotman/kohana-utils.git
[submodule "modules/mysqli"]
	path = modules/mysqli
	url = git@github.com:spotman/kohana-3.3-mysqli.git
[submodule "modules/api"]
	path = modules/api
	url = git@github.com:spotman/kohana-simple-api.git
[submodule "modules/i18n-plural"]
	path = modules/i18n-plural
	url = git@github.com:spotman/kohana-i18n-plural.git
[submodule "modules/migrations"]
	path = modules/migrations
	url = git@github.com:spotman/kohana-minion-migrations.git
[submodule "modules/acl"]
	path = modules/acl
	url = git@github.com:spotman/rbac.git
[submodule "modules/sqlite"]
	path = modules/sqlite
	url = git@github.com:spotman/kohana-database-sqlite.git
[submodule "modules/unittest"]
	path = modules/unittest
	url = git@github.com:spotman/kohana-unittest.git
