<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="modules/unittest/bootstrap.php" printerClass="DiabloMedia\PHPUnit\Printer\PrettyPrinter" colors="true" backupGlobals="false" beStrictAboutCoversAnnotation="true" beStrictAboutOutputDuringTests="true" beStrictAboutTestsThatDoNotTestAnything="true" beStrictAboutTodoAnnotatedTests="true" verbose="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory>application/classes</directory>
      <directory>modules/acl/classes</directory>
      <directory>modules/admin/classes</directory>
      <directory>modules/api/classes</directory>
      <directory>modules/content/classes</directory>
      <directory>modules/core/classes</directory>
      <directory>modules/defence/classes</directory>
      <directory>modules/email/classes</directory>
      <directory>modules/error/classes</directory>
      <directory>modules/iface/classes</directory>
      <directory>modules/jsonrpc/classes</directory>
      <directory>modules/log/classes</directory>
      <directory>modules/multi-site/classes</directory>
      <directory>modules/notification/classes</directory>
      <directory>modules/platform/classes</directory>
      <directory>modules/robots-txt/classes</directory>
      <directory>modules/sitemap/classes</directory>
      <directory>modules/utils/classes</directory>
    </include>
    <exclude>
      <directory>modules/*/tests</directory>
      <directory suffix=".php">vendor</directory>
      <directory suffix=".php">system</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="BetaKiller">
      <file>modules/unittest/tests.php</file>
    </testsuite>
  </testsuites>
</phpunit>
