html, body {
    height: 100%;
}

.error-410 {
    height: 100%;
    max-width: 350px;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
}

.error-410 h4 {
    margin: 0 auto;
}

.error-410 p {
    display: block;
    margin-top: 15px;
}
