.card .card-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
    vertical-align: middle;
}

.card .card-overlay .valign {
    width: 100%;
    text-align: center;
}

.card .card-overlay .label {
    vertical-align: middle;
    font-size: 1.6rem;
}

.card .card-overlay .material-icons {
    vertical-align: middle;
    font-size: 1.6rem;
}

.card.processed .card-overlay {
    display: flex;
    opacity: 1;
}
