<div id="terminal" class="container-fluid">
</div>

<style type="text/css">


    html, body {
        height:100%;
    }

    #terminal {
        height:100%;
    }

</style>

<script type="application/javascript">

    require([
        'jquery',
        'api.rpc.factory',
        '../jquery/terminal/js/jquery.terminal-0.8.8.min',
        'css!../jquery/terminal/css/jquery.terminal.css'
    ], function($, rpcFactory) {

        $(function() {

            var apiURL = "{{ apiURL }}",
                api = rpcFactory(apiURL);

            $("#terminal").terminal(function(command, term) {
                var cmd = $.terminal.parseCommand(command);

                switch (cmd.name) {

                    case "api":
                        var args = cmd.args,
                            model = args.shift(),
                            method = args.shift();

                        api(model, method, args).done(function(data) {
                            term.echo(JSON.stringify(data, null, 2));
                        }).fail(function(message) {
                            term.error(message || "Error");
                        });

                        break;

                    default:
                        term.error("Command [" + cmd.name + "] is not implemented yet");
                        break;
                }

            },{
                greetings: "Hi there!"
            });
        });

    });

</script>
