{% extends layout %}

{% block page_content %}

  {{ js("ifaces/admin-error/php-exception-test.js") }}

  <br />
  <button class="btn orange throw-exception-button" data-code="500">Throw HTTP_Exception_500 exception in API</button>

  <br />
  <br />
  <a href="{{ http_500_test_url }}" class="btn orange" target="_blank">Throw HTTP_Exception_500 exception in HTTP</a>

  <br />
  <br />
  <a href="{{ logger_test_url }}" class="btn orange" target="_blank">Send HTTP_Exception_500 exception to Logger</a>

{% endblock %}
