<div id="{{ domID }}" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal-button" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h3 class="modal-title text-center">Вход на сайт</h3>
            </div>
            <div class="modal-body text-center">

                <p>Войдите на сайт с помощью вашего аккаунта</p>

                <div id="{{ contentContainerID }}" class="center-block"></div>

            </div>
        </div>
    </div>
</div>
