{{ assets("require.js", "jquery") }}

{% block content %}

    <div id="auth-widget-container">
        {{ widget("Auth") }}
    </div>

    <script type="application/javascript">

        require([
            "jquery",
            "auth.login"
        ], function($, login) {

            $(function(){

                login.initialize(
                    $("#auth-widget-container"),
                    "{{ redirect_url }}"
                );

            });

        });

    </script>

{% endblock %}
