<html lang="{{ __lang__ }}">
    <head>
        <title>{{ subject }}</title>
    </head>
    <body>
    {% block body "" %}

    {% include "@notifications/default/email-tracker" %}
    </body>
</html>
