{% extends "@notifications/default/email" %}

{% block body %}
  {{ target_name }},<br/>
  вам ответили на комментарий от :created_at к записи "<strong>{{ label }}</strong>".<br/>
  Прочитать комментарий можно по адресу <a href="{{ url }}">{{ url }}</a>
{% endblock %}
