<section class="widget-auth-regular">
  <form action="{{ login_url }}" method="POST" name="regular-login-form">

    <div class="form-row justify-content-center">
      <div class="col-10 col-sm-8 col-md-6 col-lg-4">

        <div class="form-group">
          <input name="user-login" type="text"
                 class="form-control"
                 id="auth-user-login"
                 placeholder="{{ 'auth.regular.login'|i18n }}">
        </div>

        <div class="form-group">
          <input name="user-password" type="password"
                 class="form-control"
                 id="auth-user-pass"
                 placeholder="{{ 'auth.regular.password'|i18n }}">
        </div>

        <button type="submit" class="btn btn-success">
          {{ 'auth.regular.sign_in'|i18n }}
        </button>

        <div class="alert alert-danger d-none mt-3" role="alert">
          <strong>Error!</strong> Email or password is invalid. Please check your information and try again.
        </div>

      </div>
    </div>

  </form>
</section>
