{% extends layout %}

{% block content %}

  {{ csp("style", "unsafe-inline") }}

  <div class="container error-400">
    <div class="row align-items-center h-100">
      <div class="col">

        <div class="card">
          {% block header %}
            <div class="card-header">
              <h4>{{ "error.http.400.label"|i18n }}</h4>
            </div>
          {% endblock %}

          <div class="card-body">
            <p>{{ "error.http.400.message"|i18n }}</p>
            <p>
              <button class="btn btn-secondary" onclick="window.history.back(); return false;">
                {{ "error.http.back_button"|i18n }}
              </button>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <style>
    html, body {
      height: 100%;
    }

    .error-400 {
      height: 100%;
      max-width: 300px;
      margin: 0 auto;
      text-align: center;
    }

    .error-400 h4 {
      margin: 0 auto;
    }

    .error-400 p {
      display: block;
      margin-top: 15px;
    }
  </style>

{% endblock %}
