{% extends layout %}

{% block content %}

  {{ js("ifaces/HttpError503.js") }}

  <div class="container error-503" data-duration="{{ duration }}">
    <div class="row align-items-center h-100">
      <div class="col">

        <div class="card">
          {% block header %}
            <div class="card-header">
              <h4>{{ "error.http.503.label"|i18n }}</h4>
            </div>
          {% endblock %}

          <div class="card-body">
            <p>{{ "error.http.503.p1"|i18n({ min: (duration/60)|round }) }}</p>
          </div>

          <div class="card-footer">
            <div class="progress">
              <div class="progress-bar bg-info progress-bar-animated progress-bar-striped" role="progressbar"
                   aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <style>
    html, body {
      height: 100%;
    }

    .error-503 {
      height: 100%;
      max-width: 300px;
      margin: 0 auto;
      text-align: center;
    }

    .error-503 h4 {
      margin: 0 auto;
    }

    .error-503 p {
      display: block;
      margin-top: 15px;
    }

    .error-503 .progress-bar {
      width: 100%;
      max-width: 0;
      transition: max-width 1s linear;
      -webkit-transition: max-width 1s linear;
      -moz-transition: max-width 1s linear;
      -ms-transition: max-width 1s linear;
      -o-transition: max-width 1s linear;
    }
  </style>

{% endblock %}
