{% extends layout %}

{% block content %}
  <div class="error-404">
    {% block header %}
      <h1 class="center-align">{{ "error.http.404.label"|i18n }}</h1>
    {% endblock %}

    <p class="center-align">
      {{ "error.http.404.p1"|i18n }}
      {{ "error.http.404.p2"|i18n }}
      {{ "error.http.404.search.message"|i18n }}
    </p>

    {% block search_form "" %}

  </div>
{% endblock %}
