{% extends "@notifications/default/email" %}

{% block body %}
  {{ target_name }}, запись "<strong>{{ label }}</strong>" готова к публикации, проверьте её, пожалуйста, и опубликуйте
  <a href="{{ url }}">{{ url }}</a>.
{% endblock %}
