{{ css("widgets/cookies-notification/dist/cookieconsent.min.css") }}
{{ js("widgets/cookies-notification/dist/cookieconsent.min.js") }}
{{ js("widgets/cookies-notification/dist/widget.js") }}

<section id="cookies_notification"
         style="display:none"
         data-header="Cookies used on the website!"
         data-message="This website uses cookies to ensure you get the best experience on our website."
         data-dismiss="Got it!"
         data-link="Learn more"
         data-href="http://cookiesandyou.com"
>
</section>
