{% extends layout %}

{% block page_content %}

  <div class="row">
    <div class="col s12">
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <table class="striped">
        {% for revision in revisions %}
        <tr>
          <td>
            {#<a href="#!" class="right">Use</a>#}
            {{ revision.created_at }}
            {{ revision.created_by }}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

{% endblock %}
