{% extends "@ifaces/App/Content/PostItem" %}

{% block content %}

  <h4 class="center-block center-align red-text">
    <i class="material-icons left">info_outline</i>
    <i class="material-icons right">info_outline</i>
    Preview mode
  </h4>

  {{ parent() }}
{% endblock %}
