body {
    font-size: 14px;
    font-family: sans-serif;
}

div.wrap {
    margin: 1em;
}
div.filter {
    margin: 1em;
}
div.data {
    margin: 1em;
}

h1 {
    font-size: 19px;
    margin: 1em 0;
}

/* Standard table */
table.standard {
    font-size: 0.9em;
    font-weight: normal;
    color: #222222;
    vertical-align: middle;
}
table.standard th, table.standard td {
    text-align: center;
    border: 0.1em solid #B4E0FB;
    padding: 0.2em 0.4em;
}
table.standard th {
    background-color: #E0F2FD;
    font-weight: bold;
}
table.standard td.key {
    text-align: left;
}
table.standard td.price {
    text-align: right;
}
table.standard td.time {
    text-align: right;
}

/* Pagination */
div.pagination {
    margin-top: 10px;
    text-align: left;
    height: 20px;
    vertical-align: top;
}
div.pagination div.pages {
    float: left;
}
div.pagination div.pages strong {
    padding: 2px 4px;
    border: 1px solid black;
    background-color: #CCCC00;
}
div.pagination div.pages a {
    color: #333333;
    padding: 2px 4px;
}
div.pagination div.pages a:hover {
    color: #333333;
    background-color: #CCCC99;
}
div.pagination div.pages span.disabled {
    border: 1px solid black;
    background-color: #CCCC00;
    padding: 2px 4px;
}
div.pagination div.pages span.help {
    margin: 0 20px;
    color: #D6D3D6;
}
div.pagination div.count {
    float:left;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    margin-top: -1px;
}
div.pagination div.items_per_page {
    float: right;
}