{% include "@layouts/admin.materialize" with {use_admin_css: true} %}
{% include "@templates/fonts" %}

<main class="container">

  {#row: page content#}
  <div class="row">
    <div class="col">

      {#page content#}
      {{ block("content") }}
      {#/page content#}

    </div>
  </div>
  {#row: page content#}

</main>
