{% extends '@notifications/default/email' %}

{% block body %}
  New missing URLs detected!<br/>

  <ul>
    {% for page in targets %}
      <li>{{ page }}</li>
    {% endfor %}
  </ul>

  {% if sources|length > 0 %}
    <br /><br />

    from these new source pages:<br />

    <ul>
      {% for page in sources %}
        <li>{{ page }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
