{% if enabled is defined and enabled == true %}

    {# include fonts and materialize layout #}
    {{ css("https://fonts.googleapis.com/icon?family=Material+Icons") }}
    {{ css("admin/css/admin.css") }}

    <header id="admin-bar" class="navbar-fixed">
        <nav class="blue white-text">
            <div class="nav-wrapper">
                <a href="#" data-activates="admin-side-nav" class="button-collapse left"><i class="material-icons">menu</i></a>

                <button class="btn"></button>

                <ul class="right hide-on-med-and-down">
                    {#<li><a href="sass.html"><i class="material-icons">search</i></a></li>#}
                    {#<li><a href="badges.html"><i class="material-icons">view_module</i></a></li>#}
                    {#<li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>#}
                    <li>
                        <a href="#" data-activates="admin-bar-user-dropdown" class="dropdown-button">
                            <i class="material-icons">perm_identity</i>
                        </a>

                        <ul id="admin-bar-user-dropdown" class="dropdown-content">
                            <li><a href="#!">one</a></li>
                            <li><a href="#!">two</a></li>
                            <li class="divider"></li>
                            <li><a href="#!">three</a></li>
                        </ul>

                    </li>
                </ul>
            </div>
        </nav>
    </header>

{% endif %}
